#chessboard {
    background-color: rgba(133, 133, 139, 0.19);
    width: 640px;
    height: 500px;
    border: 10px solid #333;
}

#box {
    width: 45px;
    height: 45px;
    float: left;
    font-size: 10px;
    text-align: center;
    display: table-cell;
    padding: 12px;
    font-size:15px
}

.black{
    background-color:yellow;
}